COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# --- CLK (25 MHz) ---
LOCATE COMP "clk" SITE "P6";
IOBUF  PORT "clk" IO_TYPE=LVCMOS33;

# --- RESET (Botón R7) ---
LOCATE COMP "rst_n" SITE "R7";
IOBUF  PORT "rst_n" IO_TYPE=LVCMOS33 PULLMODE=UP;

# --- AUDIO I2S (Tus pines J1) ---
LOCATE COMP "i2s_bclk" SITE "C4";
LOCATE COMP "i2s_lrc"  SITE "D4";
LOCATE COMP "i2s_din"  SITE "E4";

IOBUF  PORT "i2s_bclk" IO_TYPE=LVCMOS33;
IOBUF  PORT "i2s_lrc"  IO_TYPE=LVCMOS33;
IOBUF  PORT "i2s_din"  IO_TYPE=LVCMOS33;

# --- SPI FLASH (Internos de la placa) ---
LOCATE COMP "cs_n" SITE "N8";
LOCATE COMP "mosi" SITE "T8";
LOCATE COMP "miso" SITE "T7";

IOBUF  PORT "cs_n" IO_TYPE=LVCMOS33;
IOBUF  PORT "mosi" IO_TYPE=LVCMOS33;
IOBUF  PORT "miso" IO_TYPE=LVCMOS33;

# --- LED TESTIGO ---
LOCATE COMP "led_running" SITE "P11";
IOBUF  PORT "led_running" IO_TYPE=LVCMOS33;
